body {
  background: rgb(235, 155, 149);
}
.header {
  position: sticky;
  top: 0;
  min-height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: black;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding-left: 40px;
}
.header-links {
  display: flex;
}
.header-links ul li {
  list-style: none;
  display: inline-block;
  font-size: 18px;
}
.header-links ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 0px 15px;
}
.header-links ul li a:hover {
  color: rgb(184, 105, 105);
}
.products {
  margin: 20px auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgb(114, 157, 236);
  border-radius: 5px;
}
.card {
  width: 300px;
  height: 450px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  margin: 40px 20px;
  background-color: white;
}
.product-image {
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  display: block;
  object-fit: cover;
}
.product-name {
  text-transform: uppercase;
  margin: 10px 0px;
}
.product-price {
  margin: 10px 0px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}
.product-add-button {
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: orange;
  color: white;
  width: 100%;
  height: 7vh;
  display: block;
  cursor: pointer;
  margin: 15px auto;
}
.product-add-button:hover {
  background: rgb(226, 15, 15);
}
.product-add-button:active {
  transform: translateY(2px);
}
.cart-items {
  margin: 30px auto;
  width: 50%;
  background-color: rgb(248, 173, 88);
  /* border: 2px solid black; */
  border-radius: 5px;
}
.cart-items-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  height: 50px;
}
.cart-items-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cart-items-image {
  border: 2px solid red;
  width: 40vh;
  height: auto;
  margin-bottom: 5px;
}

.cart-items-list {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: 700;
}

.cart-items-name,
.cart-items-function {
  margin-bottom: 5px;
  width: 25%;
}

.cart-items-add,
.cart-items-remove {
  width: 50px;
  margin-right: 15px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  margin-bottom: 5px;
}

.cart-items-add {
  background-color: tomato;
}
.cart-items-remove {
  background-color: turquoise;
}
.cart-items-add:active {
  transform: translateY(1.2px);
}
.cart-items-remove:active {
  transform: translateY(1.2px);
}
.cart-items-total-price-name {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 22%;
  font-size: 20px;
  font-weight: 700;
  border-top: 2px solid rgb(165, 118, 209);
}

.cart-items-total-price {
  display: flex;
  padding-left: 45%;
}
img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-drag: none;
}
img {
  pointer-events: none;
}
.movie_card {
  padding: 0 !important;
  width: 15rem;
  margin: 14px;
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.movie_card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 20rem;
}
.movie_info {
  color: #5e5c5c;
}

.movie_info i {
  font-size: 20px;
}
.card-title {
  width: 80%;
  height: 4rem;
}
.play_button {
  background-color: #ff3d49;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 20px;
  bottom: 111px;
  font-size: 27px;
  padding-left: 21px;
  padding-top: 16px;
  color: #ffffff;
  cursor: pointer;
}
